
@{
    ViewData["Title"] = "Visit";
}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <p class="top_title">Options that you can choose to visit a doctor.</p>
                    <h2>Options that you can choose to visit a doctor.</h2>
                    <p>You can register a visit by time of day or using other options!</p>
                </div>
            </div>
        </div>
        <div class="price_inner row">
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <h4>Morning</h4>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="#">2.5 GB Space</a></li>
                            <li><a href="#">Secure Online Transfer</a></li>
                            <li><a href="#">Unlimited Styles</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <h3><span class="dlr">$</span> 39</h3>
                        <a class="primary_btn" href="#"><span>Get Started</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <h4>Afternoon</h4>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="#">10 GB Space</a></li>
                            <li><a href="#">Secure Online Transfer</a></li>
                            <li><a href="#">Unlimited Styles</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <h3><span class="dlr">$</span> 69</h3>
                        <a class="primary_btn" href="#"><span>Get Started</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <h4>Evening</h4>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="#">Unlimited Space</a></li>
                            <li><a href="#">Secure Online Transfer</a></li>
                            <li><a href="#">Unlimited Styles</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <h3><span class="dlr">$</span> 99</h3>
                        <a class="primary_btn" href="#"><span>Get Started</span></a>
                    </div>
                </div>
            </div>
        </div>
</div>