@{
    ViewData["Title"] = "HomeView";
}

<h2>HomeView</h2>
<div class="home-img-container">
    <img src="http://www.waterdownwalkinclinic.com/wp-content/uploads/2014/07/pic_1.png" class="home-img-picture" alt="Doctors" />
</div>

